{% comment %}
<!-- This is the code block to define custom syntax -->
{% endcomment %}
{% assign output = content
    | replace: '-!', '<u>'
    | replace: '!-', '</u>'
%}
{% assign output = content
    | replace: '[!WARNING]', '<div style="padding: 10px; border: 1px solid rgba(248,81,73,.4); background-color: rgba(248,81,73,.1)">'
    | replace: '[!ENDWARNING]', '</div>'
    | replace: '[!NOTE]', '<div style="padding: 10px; margin-bottom:10px; border: 1px solid rgba(56,139,253,.4); background-color: rgba(56,139,253,.1)">'
    | replace: '[!ENDNOTE]', '</div>'
%}
{{output}}
